PORT=5000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=library_system

JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=8h

LOAN_DAYS=15
WARNING_DAYS_BEFORE_DUE=3
MAX_BOOKS_PER_USER=5
MAX_RENEWALS=1
